.space 
{
    width: 100%;
    margin: 5px 0;
}

.space .ant-btn-compact-first-item
{
    width:100%;
    pointer-events: none;
}

.space .main-btn
{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 20px;
    padding: 0 10px;
}